In [1]:
import pandas as pd
df = pd.read_csv('log_bayes_5_start.txt', header=0)
print(df.dtypes)
df.head()

Score         int64
Flips left    int64
Heads         int64
Tails         int64
Action        int64
Reward        int64
dtype: object

   Score  Flips left  Heads  Tails  Action  Reward
0      0          95      3      2       1      -5
1      0          94      3      3       0      -1
2      0          93      4      3       0      -1
3      0          92      5      3       0      -1
4      0          91      6      3       0      -1

In [ ]:
df_agg = df.groupby(['Action', 'Reward']).agg(Count=('Score','count'))
d1 = df_agg['Count'].to_dict()
d2 = {a_i:{r:c for (a, r), c in d1.items() if a==a_i} for a_i in range(4)}
d2
#df_agg.pivot(index='Action', columns='Reward', values='Count').to_dict()

{0: {-1: 4059, 0: 2, 73: 1},
 1: {-30: 1, -10: 1, -5: 938, 15: 1},
 2: {-30: 112, -28: 2, 15: 436, 30: 1},
 3: {-30: 124, -12: 1, 0: 1, 15: 436, 30: 1}}

In [ ]:
true_pos = d2[2][15]
false_pos = d2[2][-30]
false_neg = d2[3][-30]
true_neg = d2[3][15]
num_positives = (true_pos + false_neg) / (true_pos + false_pos + false_neg + true_neg)
accuracy = (true_pos + true_neg) / (true_pos + false_pos + false_neg + true_neg)
recall = true_pos / (true_pos + false_neg)
precision = true_pos / (true_pos + false_pos)
f1 = 2 * precision * recall / (precision + recall)

print(*(f"{v}" for v in (num_positives, accuracy, recall, precision, f1)))

0.5054151624548736 0.7870036101083032 0.7785714285714286 0.7956204379562044 0.7870036101083032